<form novalidate [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
  <mat-card class="p-5 mat-card">
    <mat-card-content class="mb-4">
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="User ID" formControlName="userId">
        <mat-error *ngIf="required('userId')">User ID is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mt-4">
        <input matInput type="text" placeholder="Enter title" formControlName="title">
        <mat-hint align="end">{{createPostForm.get('title').value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="required('title')">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mt-4">
        <textarea matInput type="text" placeholder="Enter description" formControlName="body"></textarea>
        <mat-hint align="end">{{createPostForm.get('body').value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="required('body')">Body is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between">
      <button mat-raised-button color="primary" type="submit" [disabled]="createPostForm.invalid">Save</button>
      <button mat-raised-button color="primary" routerLink="/posts">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
