/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.post__button {
  text-align: left;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  color: blue;
}

.post__button:hover {
  text-decoration: underline;
  color: blue;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.body {
  background: #e4e4e4;
}

.mat-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
